body {
    overflow-y: scroll;
}

.dynamic_grid {
    position: relative;
}

.dynamic_grid .description {
    position: fixed;
    right: 0;
    width: 200px;
    font: 13px/1.3em "Open Sans", sans-serif;
    margin: 10px;
}

.dynamic_grid .images-grid {
    padding: 0;
}

.dynamic_grid .images-grid.has-desc {
    margin-right: 220px;
}

.dynamic_grid .images-grid .photo-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative; 
    float: left;    
    padding: 0;
}

.dynamic_grid .images-grid .photo-container a {
    margin: 0;
    padding: 0;
}

.dynamic_grid .images-grid .photo-container img {
    max-width: none;
    margin-top: 0;
}

.dynamic_grid .images-grid .photo-container .photo-wrapper {
    overflow: hidden;
}